page-home {
    .img1{
        position: fixed;
        left: 0%;
        top:0%;
    }
    .text1{
        position: relative;
        left:3%;
        top:22%;
    }
    .img2{
        position: fixed;
        right: 0%;
        top: 0%;
    }
    .text2{
        position: relative;
        left:86%;
        top:14%;
    }
    .img3{
        position: fixed;
        right: 40%;
        top: 30%;
    }
    .text3{
        position: relative;
        left:44%;
        top:35%;
    }
    .img4{
        position: fixed;
        bottom: 0%;
        left: 0%;
    }
    .text4{
        position: relative;
        left:3%;
        top:55%;
    }
    .img5{
        position: fixed;
        bottom: 0%;
        right: 0%;
    }
    .text5{
        position: relative;
        left:86%;
        top:46%;
    }

}
